#content
	.row
		%div{ :class => "span15 offset1" }
			%ul{ :class => "media-grid grid", :id => "albums" }
				- @albums.each do |album|
					%li
						%a{ :class => "thumbnail album", :href => "/album/#{uri_encode(album[:album])}/#{uri_encode(album[:artist])}" }
							%img{ :src => "#{album[:image]}", :alt => "#{album[:album]}" }
							#{album[:album]}<br />by #{album[:artist]}
	.row
		.span16
			- if @page != 1
				%a{ :class => "prev-page pull-left btn", :'data-page' => "#{@page - 1}", :href => "#" } &laquo; Previous
			- if @total > @page * @per_page
				%a{ :class => "next-page pull-right btn", :'data-page' => "#{@page + 1}", :href => "#" } Next &raquo;