<div class="page-header">
	<h1>Artists</h1>
</div>
<div class="row">
	<div class="span15 offset1">
		<ul class="media-grid artist-grid">
			<% @artists.each do |artist,image| %>
			<li><a class="thumbnail" href="/artist/<%= artist %>"><img src="<%= image %>" alt="<%= artist %>" /><%= artist %></a></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span16">
	<% if @page != 1 %>
		<a class="prev-page float-left btn" data-page="<%= @page - 1 %>" href="#">&laquo; Previous</a>
	<% end %>
	<% if @total > @page * @per_page %>
		<a class="next-page float-right btn" data-page="<%= @page + 1 %>" href="#">Next &raquo;</a>
	<% end %>
	</div>
</div>