<div class="page-header">
	<h1>Playr History</h1>
</div>
<div class="row">
	<% @history.each do |h| %>
	<div class="span8 search" id="song-<%= h.song.id.to_s %>">
		<h3><%= h.song.title %> <small>by <%= h.song.artist %></small></h3>
		<div class="row">
			<div class="span4"><img src="<%= album_artwork(h.song.album, h.song.artist) %>" alt="<%= h.song.album %>" /></div>
			<div class="span4">
				<p>
					<strong>Song</strong>: <a href="/track/<%= h.song.id.to_s %>"><%= h.song.title %></a><br />
					<strong>Artist</strong>: <a href="/artist/<%= h.song.artist %>"><%= h.song.artist %></a><br />
					<strong>Album</strong>: <a href="/browse/<%= h.song.artist %>/<%= h.song.album %>"><%= h.song.album %></a><br />
					<strong>Plays</strong>: <%= h.song.plays %><br />
					<strong>Likes</strong>: <%= likes h.song %>
				</p>
				<p class="buttons">
					<a class="btn success like<% if likes? h.song.id %> disabled<% end %>" data-song="<%= h.song.id.to_s %>">Like</a>
					<a class="btn danger dislike<% if likes?(h.song.id) == false %> disabled<% end %>" data-song="<%= h.song.id.to_s %>">Dislike</a>
				</p>
			</div>
		</div>
	</div>
	<% end %>
</div>
<div class="row">
	<div class="span16">
	<% if @page != 1 %>
		<a class="prev-page float-left btn" data-page="<%= @page - 1 %>" href="#">&laquo; Previous</a>
	<% end %>
	<% if @total > @page * @per_page %>
		<a class="next-page float-right btn" data-page="<%= @page + 1 %>" href="#">Next &raquo;</a>
	<% end %>
	</div>
</div>