<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">Playr</a>
			<% if @user %>
			<ul class="nav">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#">Browse</a>
					<ul class="dropdown-menu">
						<li><a href="/artists">Artists</a></li>
						<li><a href="/albums">Albums</a></li>
						<li><a href="/browse">All</a></li>
					</ul>
				</li>
				<li><a href="/queue">Queue</a></li>
				<li><a href="/upload">Upload</a></li>
			</ul>
			<form class="pull-left" action="/search">
				<input type="text" name="q" placeholder="Search" />
			</form>
			<ul class="nav secondary-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#"><%= @user.username %></a>
					<ul class="dropdown-menu">
						<li><a href="/likes">Likes</a></li>
						<!-- <li><a href="#">Edit Profile</a></li> -->
						<li><a href="/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
			<% end %>
		</div>
	</div>
</div>
<div class="container">
	<% if flash[:error] %>
		<div class="alert-message warning">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>
	<% if flash[:notice] %>
		<div class="alert-message success">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
</div>
<script src="/js/mootools-1.4.1.min.js"></script>
<script src="/js/simple-modal.js"></script>
<script src="/js/mustache.js"></script>
<%= @script %>
<script src="/js/main.js"></script>
<script>
window.addEvent('domready', function(){
	Playr.init();
	<%= @ready %>
});
</script>
</body>
</html>