<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">Playr</a>
			<% if @user %>
			<ul class="nav">
				<li><a href="/queue">Queue</a></li>
				<li><a href="/browse">Browse</a></li>
				<li><a href="/upload">Upload</a></li>
			</ul>
			<form class="pull-left" action="">
				<input type="text" placeholder="Search" />
			</form>
			<p class="pull-right">Logged in as <a href="/logout"><%= @user.username %></a></p>
			<% else %>
			<p class="pull-right"><a href="/login">Login</a></p>
			<% end %>
		</div>
	</div>
</div>
<div class="container">
	<% if flash[:error] %>
		<div class="alert-message warning">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>
	<% if flash[:notice] %>
		<div class="alert-message success">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
</div>
<script src="/js/mootools-1.4.1.min.js"></script>
<%= @script %>
<script src="/js/main.js"></script>
<script>
window.addEvent('domready', function(){
	Playr.init();
	<%= @ready %>
});
</script>
</body>
</html>