<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>
	<link rel="stylesheet" href="/css/style.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<% if flash[:error] %>
<div class="error"><%= flash[:error] %></div>
<% elsif flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<div id="wrapper">
	<%= yield %>
</div>
<script src="/js/mootools-1.4.1.min.js"></script>
<%= @script %>
<script src="/js/main.js"></script>
<% if @ready %>
<script>window.addEvent('domready', function(){<%= @ready %>});</script>
<% end %>
</body>
</html>