<div class="page-header">
	<h1><%= @title %></h1>
</div>
<div class="row">
	<div class="span16">
	<% if @likes.empty? %>
		<p><%= @user.name %> has no likes.</p>
	<% else %>
		<ul class="media-grid likes-grid">
		<% @likes.each do |like| %>
			<li>
				<a href="/track/<%= like.song.id.to_s %>">
					<img class="thumbnail" src="<%= album_artwork(like.song.album, like.song.artist) %>" alt="<%= like.song.title %>" />
					<%= like.song.title %> by <%= like.song.artist %>
				</a>
			</li>
		<% end %>
		</ul>
	</div>
<% end %>
</div>