<div class="page-header">
	<h1><%= @user.name %></h1>
</div>
<div class="row">
	<div class="span4 offset3">
		<img src="<%= avatar @user.email, 200 %>" />
	</div>
	<div class="span6">
		<p>&nbsp;</p>
	</div>
</div>
<div class="row">
<% if @likes.empty? %>
	<div class="span16">
		<p><%= @user.name %> has no likes.</p>
	</div>
<% else %>
	<% @likes.each do |like| %>
		<div class="span8 search">
			<h3><a href="/track/<%= like.song.id.to_s %>"><%= like.song.title %></a> <small>by <a href="/artist/<%= like.song.artist %>"><%= like.song.artist %></a></small></h3>
			<div class="row">
				<div class="span4">
					<a href="/track/<%= like.song.id.to_s %>"><img src="<%= album_artwork(like.song.album, like.song.artist) %>" alt="<%= like.song.album %>" /></a>
				</div>
				<div class="span4">
					<p>
						<strong>Song</strong>: <a href="/track/<%= like.song.id.to_s %>"><%= like.song.title %></a><br />
						<strong>Artist</strong>: <a href="/artist/<%= like.song.artist %>"><%= like.song.artist %></a><br />
						<strong>Album</strong>: <a href="/browse/<%= like.song.artist %>/<%= like.song.album %>"><%= like.song.album %></a>
					</p>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
</div>