<div class="page-header">
	<h1>Playr Queue</h1>
</div>
<div class="row">
<% if not Playr.paused? %>
	<div class="span16 paused">
		<h2>Paused</h2>
		<p>Playr is currently paused.</p>
	</div>
<% else #elsif Playr.playing? %>
	<div class="span16 now-playing">
		<h2>Now Playing</h2>
		<div class="row">
			<div class="span4 offset4"><img src="<%= album_artwork @playing.album, @playing.artist %>" alt="<%= @playing.title %>" /></div>
			<div class="span6">
				<h3><%= @playing.title %> <small>by <%= @playing.artist %></small></h3>
				<p>
					<strong>Album</strong>: <%= @playing.album %><br />
					<strong>Year</strong>: <%= @playing.year %><br />
					<strong>Genre</strong>: <%= @playing.genre %><br />
					<strong>Plays</strong>: <%= @playing.plays %><br />
					<strong>Likes</strong>: <%= likes @playing %><br />
				</p>
				<p>
					<a class="btn success like<% if likes? @playing.id %> disabled<% end %>" data-song="<%= @playing.id.to_s %>">Like</a>
					<a class="btn danger dislike<% if likes?(@playing.id) == false %> disabled<% end %>" data-song="<%= @playing.id.to_s %>">Dislike</a>
					<a class="btn info">Download</a>
					<a class="btn" id="play-next">Next</a>
				</p>
			</div>
		</div>
	</div>
<% end %>
	<% @queue.each do |q| %>
	<div class="span10 offset3 queue">
		<h3><%= q.song.title %> <small>by <%= q.song.artist %></small></h3>
		<div class="row">
			<div class="span4"><img src="<%= album_artwork(q.song.album, q.song.artist) %>" alt="<%= q.song.album %>" /></div>
			<div class="span6">
				<p>
					<strong>Song</strong>: <a href="/track/<%= q.song.id.to_s %>"><%= q.song.title %></a><br />
					<strong>Artist</strong>: <a href="/artist/<%= q.song.artist %>"><%= q.song.artist %></a><br />
					<strong>Album</strong>: <a href="/browse/<%= q.song.artist %>/<%= q.song.album %>"><%= q.song.album %></a><br />
					<strong>Plays</strong>: <%= q.song.plays %><br />
					<strong>Likes</strong>: <%= likes q.song %>
				</p>
				<p>
					<a class="btn success like<% if likes? q.song.id %> disabled<% end %>" data-song="<%= q.song.id.to_s %>">Like</a>
					<a class="btn danger dislike<% if likes?(q.song.id) == false %> disabled<% end %>" data-song="<%= q.song.id.to_s %>">Dislike</a>
					<a class="btn info">Download</a>
					<a class="btn">Don't Play</a>
				</p>
			</div>
		</div>
	</div>
	<% end %>
</div>