<div class="page-header">
	<h1><%= @title %> <small>by <%= @artist %></small></h1>
</div>
<div class="row">
	<div class="span6">
		<img src="<%= @image %>" alt="<%= @title %>" />
	</div>
	<div class="span10">
		<div class="row">
			<div class="span3">
				<h4>Tracks</h4>
				<ul>
					<% @album["tracks"]["track"].each do |track| %>
						<% t = Song.first(:album => @title, :artist => @artist, :title => track["name"]) %>
						<li><% if t %><a href="/track/<%= t.id.to_s %>"><% end %><%= track["name"] %><% if t %></a><% end %></li>
					<% end %>
				</ul>
			</div>
			<div class="span4">
				<h4>Album Info</h4>
				<ul>
					<li><strong>Album</strong>: <%= @album["name"] %></li>
					<li><strong>Artist</strong>: <a href="/artist/<%= @album["artist"] %>"><%= @album["artist"] %></a></li>
					<li><strong>Released</strong>: <%= Time.parse(@album["releasedate"]).strftime("%b %d, %Y") %></li>
				</ul>
			</div>
			<div class="span3">
				<h4>Tags <small>from <a href="http://last.fm">Last.fm</a></small></h4>
				<ul>
				<% @album["toptags"]["tag"].each do |tag| %>
					<li><%= tag["name"] %></li>
				<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span16">
		<% if @album["wiki"] %>
		<p>&nbsp;</p>
		<p><%= @album["wiki"]["content"].gsub("\n", "<br />") %><br /><small>Published on <%= Time.parse(@album["wiki"]["published"]).strftime("%b %d, %Y") %> to <a href="http://last.fm">Last.fm</a></small></p>
		<% end %>
	</div>
</div>