<div class="page-header">
	<h1><%= params[:album] %></h1>
</div>
<div class="row">
	<div class="span16">
		<p>We found multiple albums matching "<%= params[:album] %>".</p>
		<ul>
		<% @artist.each do |artist| %>
			<li><a href="/album/<%= params[:album] %>/<%= artist %>"><%= params[:album] %> by <%= artist %></a></li>
		<% end %>
		</ul>
	</div>
</div>