<div class="page-header">
	<h1><%= @song.title %> <small><%= @song.artist %></small></h1>
</div>
<div class="row">
	<div class="span6">
		<img src="<%= @image %>" alt="<%= @song.album %>" />
	</div>
	<div class="span10">
		<div class="row">
			<div class="span5">
				<h4>Track Info</h4>
				<ul>
					<li><strong>Track</strong>: <%= @song.title %></li>
					<li><strong>Artist</strong>: <a href="/artist/<%= @song.artist %>"><%= @song.artist %></a></li>
					<li><strong>Album</strong>: <a href="/album/<%= @song.album %>/<%= @song.artist %>"><%= @song.album %></a></li>
					<li><strong>Genere</strong>: <%= @song.genre %></li>
					<li><strong>Year</strong>: <%= @song.year %></li>
					<li><strong>Plays</strong>: <%= @song.plays %></li>
					<li><strong>Likes</strong>: <%= likes @song %></li>
				</ul>
			</div>
			<div class="span5">
				<h4>Tags <small>from <a href="http://last.fm">Last.fm</a></small></h4>
				<ul>
				<% @info["toptags"]["tag"].each do |tag| %>
					<li><%= tag["name"] %></li>
				<% end %>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span10">
				<p class="float-left">
					<a class="like btn success<% if likes? @song.id %> disabled<% end %>" data-song="<%= @song.id.to_s %>">Like</a>
					<a class="dislike btn danger<% if likes?(@song.id) == false %> disabled<% end %>" data-song="<%= @song.id.to_s %>">Dislike</a>
				</p>
				<p class="float-right">
					<a class="btn" href="/track/<%= @song.id.to_s %>/edit">Edit</a>
					<a class="btn danger" id="delete" href="#">Delete</a>
					<a class="btn success<% if in_queue @song %> disabled<% end %>" id="queue-up">Add To Queue</a>
				</p>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span16">
		<h4>Likes</h4>
	<% if @likes.empty? %>
		<p>There's no love for this track...</p>
	<% else %>
		<ul class="media-grid user-likes-grid">
		<% @likes.each do |l| %>
			<li>
				<a href="/likes/<%= l.user.username %>">
					<img class="thumbnail" src="<%= avatar l.user.email, 64 %>" /><%= l.user.name %>
				</a>
			</li>
		<% end %>
		</ul>
	<% end %>
	</div>
</div>
<div class="row">
	<div class="span16">
		<% if @info["wiki"] %>
		<h4>Wiki</h4>
		<p><%= @info["wiki"]["content"].gsub("\n", "<br />") %><br /><small>Published on <%= Time.parse(@info["wiki"]["published"]).strftime("%b %d, %Y") %> to <a href="http://last.fm">Last.fm</a></small></p>
		<% end %>
	</div>
	<div class="clear"></div>
</div>