<div class="page-header">
	<h1><%= @song.title %> <small><%= @song.artist %></small></h1>
</div>
<div class="row">
	<div class="span6">
		<img src="<%= @image %>" alt="<%= @info["album"]["title"] %>" />
	</div>
	<div class="span10">
		<div class="row track-info">
			<div class="span5">
				<h4>Track Info</h4>
				<ul>
					<li><strong>Track</strong>: <%= @song.title %></li>
					<li><strong>Artist</strong>: <%= @song.album %></li>
					<li><strong>Album</strong>: <%= @song.album %></li>
					<li><strong>Plays</strong>: <%= @song.plays %></li>
					<li><strong>Likes</strong>: <%= likes @song %></li>
				</ul>
			</div>
			<div class="span5">
				<h4>Tags <small>from <a href="http://last.fm">Last.fm</a></small></h4>
				<ul>
				<% @info["toptags"]["tag"].each do |tag| %>
					<li><%= tag["name"] %></li>
				<% end %>
				</ul>
			</div>
		</div>
		<% if @info["wiki"] %>
		<p><%= @info["wiki"]["summary"] %> <small>Published on <%= Time.parse(@info["wiki"]["published"]).strftime("%b %d, %Y") %> to <a href="http://last.fm">last.fm</a></small></p>
		<% end %>
		<p class="float-right"><a class="btn">Edit</a> <a class="btn danger">Delete</a></p>
	</div>
</div>